body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f6f2;
    color: #222;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 40px;

    background-color: white;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #222;
}

.hero {
    min-height: 85vh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    background-image: url("assets/images/photos/foto-provisional.png");
    background-size: cover;
    background-position: center;

    color: white;

    padding: 40px;
}

.hero-content {
    max-width: 800px;
}

.hero h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.hero-weapons {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.button {
    display: inline-block;

    padding: 14px 28px;

    background-color: #4f6672;
    color: white;

    text-decoration: none;

    border-radius: 6px;

    font-weight: bold;
}

.presentation,
.training {
    max-width: 900px;

    margin: auto;

    padding: 30px 20px 60px 20px;
}

footer {
    text-align: center;

    padding: 30px;

    background-color: white;
}
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-text h1 {
    margin: 0;
    font-size: 1.4rem;
}

.logo-text p {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
}
.club {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    max-width: 1200px;

    margin: auto;

    padding: 50px 30px;
}

.club-logo img {
    width: 320px;
    max-width: 100%;
}

.club-text {
    max-width: 600px;
}

.club-text h2 {
    margin-top: 0;
    font-size: 2.2rem;
}
